.Countries {
    max-width: 500px;
    border: 5px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    height: 90vh;
}

.Countries__list li {
    font-size: 32px;
    padding-bottom: 20px;
}

.Countries__list li:hover {
    border: 1px solid black;
    border-radius: 5px;
    background: aqua;
    cursor: pointer;
    transition: all 0.5s;
}