.Country-info {
    width: 50%;
    min-height: 90vh;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}

.chooseCountry {
    font-size: 25px;
    font-weight: bold;
}