body {
    margin: 0;
    padding: 0;
}

.Wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}


p {
    font-size: 25px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 22px;
    list-style: none;
}
