.Character-wrapper {
    border: 2px solid black;
    max-width: 400px;
    margin: 100px auto 0;
    text-align: center;
}

.Buttons-Wrapper {
    text-align: center;
    font-size: 24px;
    margin: 50px 0;
}

.Next, .Previous {
    padding: 10px;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
}